<!DOCTYPE html>
<html>
<head>
  <title>DevAuth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <p class="notice"><%#= notice %></p> -->
<% flash.each do |name, msg| %>
  <% if msg.class == Array %>
    <% msg.each do |message| %>
      <%= content_tag :div, message, :id => "flash_#{name}" %>
    <% end %>
  <% else %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>

  <% end %>
<% end %>
<%#=flash[:notice].inspect%>
<%if admin_signed_in?%>
<%=link_to "Logout", destroy_admin_session_path, :method => :delete %>
<%end%>
<%= yield %>

</body>
</html>
